<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testflight</key>
	<string></string>
	<key>url</key>
	<string>http://notifica.re/apps-content/notificare/</string>
	<key>components</key>
	<dict>
		<key>lostPass</key>
		<dict>
			<key>emailForm</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
				<key>placeholderColor</key>
				<string>#FA3C3C80</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tintColor</key>
				<string>#A01414</string>
				<key>borderColor</key>
				<string>#E61414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
			<key>forgottenPasswordButton</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FAFAFA</string>
				<key>backgroundColor</key>
				<string>#A03C3C</string>
				<key>borderColor</key>
				<string>#141414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>resetPass</key>
		<dict/>
		<key>signIn</key>
		<dict>
			<key>title</key>
			<dict>
				<key>text</key>
				<string>title_component_sign_in</string>
				<key>font</key>
				<string>Lato-Light</string>
				<key>fontSize</key>
				<string>20</string>
				<key>color</key>
				<string>#E6E6E6</string>
			</dict>
			<key>emailForm</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
				<key>placeholderColor</key>
				<string>#FA3C3C80</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tintColor</key>
				<string>#A01414</string>
				<key>borderColor</key>
				<string>#E61414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
			<key>passwordForm</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
				<key>placeholderColor</key>
				<string>#FA3C3C80</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tintColor</key>
				<string>#A01414</string>
				<key>borderColor</key>
				<string>#E61414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
			<key>forgottenPasswordButton</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>16</integer>
				<key>textColor</key>
				<string>#A02828</string>
			</dict>
			<key>signInButton</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FAFAFA</string>
				<key>backgroundColor</key>
				<string>#A03C3C</string>
				<key>borderColor</key>
				<string>#141414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
			<key>createAccountButton</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FAFAFA</string>
				<key>backgroundColor</key>
				<string>#A03C3C</string>
				<key>borderColor</key>
				<string>#141414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>signUp</key>
		<dict>
			<key>title</key>
			<dict>
				<key>text</key>
				<string>title_component_sign_up</string>
				<key>font</key>
				<string>Lato-Light</string>
				<key>fontSize</key>
				<string>20</string>
				<key>color</key>
				<string>#E6E6E6</string>
			</dict>
			<key>nameForm</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
				<key>placeholderColor</key>
				<string>#FA3C3C80</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tintColor</key>
				<string>#A01414</string>
				<key>borderColor</key>
				<string>#E61414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
			<key>emailForm</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
				<key>placeholderColor</key>
				<string>#FA3C3C80</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tintColor</key>
				<string>#A01414</string>
				<key>borderColor</key>
				<string>#E61414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
			<key>passwordForm</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
				<key>placeholderColor</key>
				<string>#FA3C3C80</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tintColor</key>
				<string>#A01414</string>
				<key>borderColor</key>
				<string>#E61414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
			<key>confirmPasswordForm</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
				<key>placeholderColor</key>
				<string>#FA3C3C80</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
				<key>tintColor</key>
				<string>#A01414</string>
				<key>borderColor</key>
				<string>#E61414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
			<key>createAccountButton</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FAFAFA</string>
				<key>backgroundColor</key>
				<string>#A03C3C</string>
				<key>borderColor</key>
				<string>#141414</string>
				<key>cornerRadius</key>
				<integer>10</integer>
				<key>borderWidth</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>userDetailsOptions</key>
		<dict>
			<key>title</key>
			<dict>
				<key>font</key>
				<string></string>
				<key>fontSize</key>
				<string></string>
				<key>color</key>
				<string></string>
			</dict>
		</dict>
		<key>userDetails</key>
		<dict>
			<key>title</key>
			<dict>
				<key>text</key>
				<string>title_component_user</string>
				<key>font</key>
				<string>Lato-Light</string>
				<key>fontSize</key>
				<integer>20</integer>
				<key>color</key>
				<string>#E6E6E6</string>
			</dict>
			<key>navigationBgColor</key>
			<string>#141414</string>
			<key>navigationFgColor</key>
			<string>#E6E6E6</string>
			<key>backgroundColor</key>
			<string>#F5F5F5</string>
			<key>sectionHeader</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Regular</string>
				<key>textSize</key>
				<integer>14</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
				<key>backgroundColor</key>
				<string>#3C3C3C</string>
			</dict>
			<key>profileName</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Regular</string>
				<key>textSize</key>
				<integer>16</integer>
				<key>textColor</key>
				<string>#3C3C3C</string>
			</dict>
			<key>profileEmail</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>14</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
			</dict>
			<key>profileToken</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>9</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
			</dict>
			<key>profileBackgroundColor</key>
			<string>#FFFFFF</string>
			<key>profileOptions</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>18</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
			</dict>
			<key>infoOptions</key>
			<dict>
				<key>textFont</key>
				<string>Lato-Light</string>
				<key>textSize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>#FA3C3C</string>
				<key>selectionColor</key>
				<string>#FF3232</string>
				<key>backgroundColor</key>
				<string>#FFFFFF</string>
			</dict>
		</dict>
		<key>log</key>
		<dict>
			<key>title</key>
			<dict>
				<key>text</key>
				<string>title_component_log</string>
				<key>font</key>
				<string>Lato-Light</string>
				<key>fontSize</key>
				<integer>20</integer>
				<key>color</key>
				<string>#E6E6E6</string>
			</dict>
		</dict>
		<key>location</key>
		<dict>
			<key>title</key>
			<dict>
				<key>text</key>
				<string>title_component_location</string>
				<key>font</key>
				<string>Lato-Light</string>
				<key>fontSize</key>
				<integer>20</integer>
				<key>color</key>
				<string>#E6E6E6</string>
			</dict>
			<key>navigationBgColor</key>
			<string>#141414</string>
			<key>navigationFgColor</key>
			<string>#E6E6E6</string>
			<key>showCircles</key>
			<true/>
			<key>circleColor</key>
			<string>#14149B</string>
		</dict>
		<key>products</key>
		<dict>
			<key>title</key>
			<dict>
				<key>text</key>
				<string>title_component_products</string>
				<key>font</key>
				<string>Lato-Light</string>
				<key>fontSize</key>
				<integer>20</integer>
				<key>color</key>
				<string>#E6E6E6</string>
			</dict>
		</dict>
		<key>web</key>
		<dict>
			<key>titleText</key>
			<string>title_component_web</string>
			<key>titleFont</key>
			<string>Lato-Light</string>
			<key>titleSize</key>
			<integer>20</integer>
			<key>titleColor</key>
			<string>#E6E6E6</string>
			<key>navigationBgColor</key>
			<string>#141414</string>
			<key>navigationFgColor</key>
			<string>#E6E6E6</string>
			<key>loadingViewColor</key>
			<string>#E6E6E6</string>
			<key>toolbarBgColor</key>
			<string>#E6E6E6</string>
			<key>toolbarFgColor</key>
			<string>#141414</string>
		</dict>
	</dict>
	<key>appSettings</key>
	<array>
		<dict>
			<key>id</key>
			<string>baseSettings</string>
			<key>template</key>
			<string>cyanide</string>
			<key>layout</key>
			<string>sideBarLayout</string>
			<key>mainColor</key>
			<string>#000000</string>
			<key>secondaryColor</key>
			<string>#000000</string>
			<key>auxiliaryColor</key>
			<string>#000000</string>
			<key>statusBarWhite</key>
			<true/>
			<key>accountView</key>
			<dict>
				<key>label</key>
				<string>menu_item_user</string>
				<key>url</key>
				<string>Auth:</string>
				<key>titleFont</key>
				<string>Lato-Light</string>
				<key>titleSize</key>
				<integer>20</integer>
				<key>titleColor</key>
				<string>#E6E6E6</string>
				<key>navigationBgColor</key>
				<string>#141414</string>
				<key>navigationFgColor</key>
				<string>#E6E6E6</string>
				<key>backgroundColor</key>
				<string>#F5F5F5</string>
				<key>forgottenPassword</key>
				<dict>
					<key>emailForm</key>
					<dict>
						<key>textFont</key>
						<string>Lato-Light</string>
						<key>textSize</key>
						<integer>20</integer>
						<key>textColor</key>
						<string>#FA3C3C</string>
						<key>placeholderColor</key>
						<string>#FA3C3C80</string>
						<key>backgroundColor</key>
						<string>#FFFFFF</string>
						<key>tintColor</key>
						<string>#A01414</string>
						<key>borderColor</key>
						<string>#E61414</string>
						<key>cornerRadius</key>
						<integer>10</integer>
						<key>borderWidth</key>
						<integer>2</integer>
					</dict>
					<key>forgottenPasswordButton</key>
					<dict>
						<key>textFont</key>
						<string>Lato-Light</string>
						<key>textSize</key>
						<integer>20</integer>
						<key>textColor</key>
						<string>#FAFAFA</string>
						<key>backgroundColor</key>
						<string>#A03C3C</string>
						<key>borderColor</key>
						<string>#141414</string>
						<key>cornerRadius</key>
						<integer>10</integer>
						<key>borderWidth</key>
						<integer>2</integer>
					</dict>
				</dict>
			</dict>
			<key>resetPasswordView</key>
			<dict>
				<key>passwordForm</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#3C3C3C</string>
					<key>placeholderColor</key>
					<string>#3C3C3C80</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#14A014</string>
					<key>borderColor</key>
					<string>#E61414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
				<key>confirmPasswordForm</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#3C3C3C</string>
					<key>placeholderColor</key>
					<string>#3C3C3C80</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#14A014</string>
					<key>borderColor</key>
					<string>#E61414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
				<key>resetPasswordButton</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FFFFFF</string>
					<key>backgroundColor</key>
					<string>#A03C3C</string>
					<key>borderColor</key>
					<string>#141414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</array>
	<key>navigation</key>
	<array>
		<dict>
			<key>label</key>
			<string>menu_item_home</string>
			<key>url</key>
			<string>MainView:Tutorial</string>
		</dict>
		<dict>
			<key>label</key>
			<string>menu_item_products</string>
			<key>url</key>
			<string>Products:SKProduct</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Web View</string>
			<key>url</key>
			<string>http://notifica.re</string>
			<key>titleFont</key>
			<string>Lato-Light</string>
			<key>titleSize</key>
			<integer>20</integer>
			<key>titleColor</key>
			<string>#E6E6E6</string>
			<key>navigationBgColor</key>
			<string>#141414</string>
			<key>navigationFgColor</key>
			<string>#E6E6E6</string>
			<key>loadingViewColor</key>
			<string>#E6E6E6</string>
			<key>toolbarBgColor</key>
			<string>#E6E6E6</string>
			<key>toolbarFgColor</key>
			<string>#141414</string>
		</dict>
		<dict>
			<key>label</key>
			<string>menu_item_location</string>
			<key>url</key>
			<string>MKMapView:lat,long</string>
			<key>showCircles</key>
			<true/>
			<key>titleFont</key>
			<string>Lato-Light</string>
			<key>titleSize</key>
			<integer>20</integer>
			<key>titleColor</key>
			<string>#E6E6E6</string>
			<key>navigationBgColor</key>
			<string>#141414</string>
			<key>navigationFgColor</key>
			<string>#E6E6E6</string>
			<key>circleColor</key>
			<string>#14149B</string>
		</dict>
		<dict>
			<key>label</key>
			<string>menu_item_beacons</string>
			<key>url</key>
			<string>IBAction:openBeacons</string>
		</dict>
		<dict>
			<key>label</key>
			<string>menu_item_user</string>
			<key>url</key>
			<string>Auth:</string>
			<key>titleFont</key>
			<string>Lato-Light</string>
			<key>titleSize</key>
			<integer>20</integer>
			<key>titleColor</key>
			<string>#E6E6E6</string>
			<key>navigationBgColor</key>
			<string>#141414</string>
			<key>navigationFgColor</key>
			<string>#E6E6E6</string>
			<key>backgroundColor</key>
			<string>#F5F5F5</string>
			<key>signIn</key>
			<dict>
				<key>emailForm</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
					<key>placeholderColor</key>
					<string>#FA3C3C80</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#A01414</string>
					<key>borderColor</key>
					<string>#E61414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
				<key>passwordForm</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
					<key>placeholderColor</key>
					<string>#FA3C3C80</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#A01414</string>
					<key>borderColor</key>
					<string>#E61414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
				<key>forgottenPasswordButton</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>16</integer>
					<key>textColor</key>
					<string>#A02828</string>
				</dict>
				<key>signInButton</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FAFAFA</string>
					<key>backgroundColor</key>
					<string>#A03C3C</string>
					<key>borderColor</key>
					<string>#141414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
				<key>createAccountButton</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FAFAFA</string>
					<key>backgroundColor</key>
					<string>#A03C3C</string>
					<key>borderColor</key>
					<string>#141414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>signUp</key>
			<dict>
				<key>nameForm</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
					<key>placeholderColor</key>
					<string>#FA3C3C80</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#A01414</string>
					<key>borderColor</key>
					<string>#E61414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
				<key>emailForm</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
					<key>placeholderColor</key>
					<string>#FA3C3C80</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#A01414</string>
					<key>borderColor</key>
					<string>#E61414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
				<key>passwordForm</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
					<key>placeholderColor</key>
					<string>#FA3C3C80</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#A01414</string>
					<key>borderColor</key>
					<string>#E61414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
				<key>confirmPasswordForm</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
					<key>placeholderColor</key>
					<string>#FA3C3C80</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#A01414</string>
					<key>borderColor</key>
					<string>#E61414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
				<key>createAccountButton</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FAFAFA</string>
					<key>backgroundColor</key>
					<string>#A03C3C</string>
					<key>borderColor</key>
					<string>#141414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>forgottenPassword</key>
			<dict>
				<key>emailForm</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
					<key>placeholderColor</key>
					<string>#FA3C3C80</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#A01414</string>
					<key>borderColor</key>
					<string>#E61414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
				<key>forgottenPasswordButton</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FAFAFA</string>
					<key>backgroundColor</key>
					<string>#A03C3C</string>
					<key>borderColor</key>
					<string>#141414</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>borderWidth</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>userDetails</key>
			<dict>
				<key>sectionHeader</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Regular</string>
					<key>textSize</key>
					<integer>14</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
					<key>backgroundColor</key>
					<string>#3C3C3C</string>
				</dict>
				<key>profileName</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Regular</string>
					<key>textSize</key>
					<integer>16</integer>
					<key>textColor</key>
					<string>#3C3C3C</string>
				</dict>
				<key>profileEmail</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>14</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
				</dict>
				<key>profileToken</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>9</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
				</dict>
				<key>profileBackgroundColor</key>
				<string>#FFFFFF</string>
				<key>profileOptions</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>18</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
				</dict>
				<key>infoOptions</key>
				<dict>
					<key>textFont</key>
					<string>Lato-Light</string>
					<key>textSize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>#FA3C3C</string>
					<key>selectionColor</key>
					<string>#FF3232</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>label</key>
			<string>menu_item_inbox</string>
			<key>url</key>
			<string>IBAction:openInbox</string>
		</dict>
		<dict>
			<key>label</key>
			<string>menu_item_settings</string>
			<key>url</key>
			<string>IBAction:openPreferences</string>
		</dict>
		<dict>
			<key>label</key>
			<string>menu_item_log</string>
			<key>url</key>
			<string>Log:</string>
		</dict>
	</array>
	<key>host</key>
	<string></string>
	<key>facebook</key>
	<string>392549870780732</string>
	<key>twitter</key>
	<string>notificare</string>
</dict>
</plist>
